* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1acbfc;
}

.traffic-light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10em;
    height: 22.5em;
    background-color: #333333;
    transform: translate(-50%, -50%);
    border-radius: 3em;
    border: 0.5em solid lightgray;
    z-index: 10;
}

.traffic-light::after {
    content: '';
    width: 2em;
    height: 8em;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: lightgray;
    transform: translateX(-50%);
    background-image: linear-gradient(to top, #1acbfc, lightgray 70%);
}

.light {
    width: 6em;
    height: 5.5em;
    background-color: rgb(37, 37, 37);
    border-top: 0.5em solid #000;
    border-radius: 50%;
    margin: 1em auto;
}

.red {
    animation: red 10s linear infinite;
}

@keyframes red {
    0% {
        background-color: rgb(37, 37, 37);
    }
    2%, 40% {
        background-color: red;
    }
    40%, 100% {
        background-color: rgb(37, 37, 37);
    }
}

.amber {
    animation: amber 10s linear infinite;
}

@keyframes amber {
    0%, 30% {
        background-color: rgb(37, 37, 37);
    }
    34%, 38% {
        background-color: #ff7e00;
    }
    42%, 90% {
        background-color: rgb(37, 37, 37);
    }
    92%, 100% {
        background-color: #ff7e00;
    }
}

.green {
    animation: green 10s linear infinite;
}

@keyframes green {
    0%, 40% {
        background-color: rgb(37, 37, 37);
    }
    42%, 90% {
        background-color: #00bd19;
    }
    92%, 100% {
        background-color: rgb(37, 37, 37);
    }
}
